<div class="sales-info">
  <h1 class="title">Sales Information</h1>
  <div class="row filter-row">
    <div class="col-lg-3">
      <div class="input-lable">Customer</div>
      <mat-form-field class="input-field">
        <input matInput placeholder="Enter Customer Name" />
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <div class="input-lable">Invoice ID</div>
      <mat-form-field class="input-field">
        <input matInput placeholder="Enter Invoice ID" />
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <div class="input-lable">Start Date</div>
      <mat-form-field class="input-field">
        <input matInput placeholder=" Start Date" />
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <div class="input-lable">End Date</div>
      <mat-form-field class="input-field">
        <input matInput placeholder="End Date" />
      </mat-form-field>
    </div>
  </div>
  <app-table></app-table>
</div>
