<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div class="logo">
      <img src="../../assets/Logo.png" alt="" class="img-fluid" />
    </div>
    <div class="navbar">
      <li class="link active">
        <img
          src="../../assets/element-3.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Dashboard
      </li>
      <li class="link">
        <img
          src="../../assets/clipboard-tick.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Lab Test
      </li>
      <li class="link">
        <img
          src="../../assets/calendar-tick.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Appointment
      </li>
      <li class="link">
        <img
          src="../../assets/bag-tick-2.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Medicine Order
      </li>
      <li class="link">
        <img
          src="../../assets/sms.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Message
      </li>
      <li class="link">
        <img
          src="../../assets/empty-wallet.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Payment
      </li>
      <li class="link">
        <img
          src="../../assets/setting-2.png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Settings
      </li>
      <li class="link">
        <img
          src="../../assets/Vector (1).png"
          alt=""
          srcset=""
          class="me-3 img-fluid"
        />
        Help
      </li>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <app-search-bar></app-search-bar>
    <app-sales-info></app-sales-info>
  </mat-drawer-content>
</mat-drawer-container>
