<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div class="logo">
      <img src="../../assets/Logo.png" alt="" class="img-fluid" />
    </div>
    <div class="navbar">
      <li class="link active">
        <mat-icon class="pe-5">dashboard</mat-icon>
        <a class="hide" href="#">Dashboard</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">event_available</mat-icon>
        <a class="hide" href="#">Lab Test</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">pending_actions</mat-icon>
        <a class="hide" href="#">Appointment</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">medical_services</mat-icon>
        <a class="hide" href="#">Medicine Order</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">email</mat-icon>
        <a class="hide" href="#">Message</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">payment</mat-icon>
        <a class="hide" href="#">Payment</a>
      </li>
      <li class="link">
        <mat-icon class="pe-5">settings</mat-icon>
        <a class="hide" href="#">Settings</a>
      </li>
      <li class="link help">
        <mat-icon class="pe-5">help</mat-icon>
        <a class="hide" href="#">Help</a>
      </li>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <app-search-bar></app-search-bar>
    <app-sales-info></app-sales-info>
  </mat-drawer-content>
</mat-drawer-container>
